@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --input: 0 0% 89.8%;
  --ring: 0 0% 3.9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 89.8%;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#hamburger {
  transform-origin: 100% 0%;
  border-radius: 100%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
}

@theme {
  /* colors */
  --color-primary: var(--color-blue-600);
  --color-primary-darker: var(--color-blue-700);
  --color-background-secondary: var(--color-gray-50);
  --color-primary-foreground: var(--color-white);
  --color-gray-150: hsl(0, 0%, 94.6%);
  --color-input: var(--input);
  --color-input-border: var(--color-gray-200);
  --color-ring: var(--ring);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-1/2;
  }
}

.blob {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 20;
  display: none;
  will-change: transform;
}

@media (min-width: 1536px) {
  .blob {
    display: block;
  }
  #blob-1, #blob-2 {
    animation-play-state: running;
  }
}

.anim-nav-overlay {
  clip-path: inset(10% var(--r, 100%) 10% var(--l, -2%) round 9999px);
}

#blob-1 {
  top: 60dvh;
  right: -13%;
  height: 55vh;
  width: 30%;
  rotate: 90deg;
  opacity: 0;
  will-change: transform;
  background-image: url("/blobs/blob1.svg");
  animation-play-state: paused;
  animation: slideInBottomRight 2s ease-out 0.5s forwards,
    floatBottomRight 8s ease-in-out 2.65s infinite;
}

#blob-2 {
  background-image: url("/blobs/blob1.svg");
  width: 24%;
  height: 36vh;
  left: -8%;
  top: -5dvh;
  opacity: 0;
  will-change: transform;
  animation-play-state: paused;
  animation: slideInTopLeft 1.3s ease-out 0.5s forwards,
    floatTopLeft 15s ease-in-out 1.95s infinite;
}

@keyframes slideInTopLeft {
  from {
    opacity: 0.5;
    translate: -50% -50%;
    scale: 0.5;
  }
  to {
    opacity: 1;
    translate: 0% 0%;
    scale: 1;
  }
}

@keyframes slideInBottomRight {
  from {
    opacity: 0;
    translate: 50% 50%;
    scale: 0.5;
  }
  to {
    opacity: 1;
    translate: 0% 0%;
    scale: 1;
  }
}

/* Infinite floating animations */
@keyframes floatTopLeft {
  0%,
  100% {
    translate: 0% 0%;
    scale: 1;
    border-radius: 50% 40% 60% 30%;
  }
  25% {
    translate: 4% -4%;
    scale: 1.1;
    border-radius: 40% 60% 30% 50%;
  }
  50% {
    translate: -1% 1%;
    scale: 0.9;
    border-radius: 60% 30% 50% 40%;
  }
  75% {
    translate: -3% -3%;
    scale: 1.05;
    border-radius: 30% 50% 40% 60%;
  }
}

@keyframes floatBottomRight {
  0%,
  100% {
    translate: 0% 0%;
    scale: 1;
    border-radius: 50% 40% 60% 30%;
  }
  20% {
    translate: 1% 1.5%;
    scale: 1.03;
    border-radius: 40% 60% 30% 50%;
  }
  40% {
    translate: -1% 0%;
    scale: 1.01;
    border-radius: 60% 30% 50% 40%;
  }
  60% {
    translate: 1% -1.2%;
    scale: 0.98;
    border-radius: 30% 50% 40% 60%;
  }
  80% {
    translate: 0.8% 1%;
    scale: 1.01;
    border-radius: 45% 35% 55% 45%;
  }
}
